<h2 mat-dialog-title>
  إضافة موظف
</h2>

<mat-dialog-content>

  <form
    [formGroup]="form"
    (ngSubmit)="save()">

    <mat-form-field
      appearance="outline">

      <mat-label>
        رقم الموظف
      </mat-label>

      <input
        matInput
        type="text"
        formControlName="employeeNumber"
        autocomplete="off">

      @if (
        form.controls.employeeNumber.hasError('required')
        &&
        form.controls.employeeNumber.touched
      ) {
        <mat-error>
          رقم الموظف مطلوب
        </mat-error>
      }

      @if (
        form.controls.employeeNumber.hasError('maxlength')
      ) {
        <mat-error>
          الحد الأقصى لرقم الموظف 20 حرفًا
        </mat-error>
      }

    </mat-form-field>


    <mat-form-field
      appearance="outline">

      <mat-label>
        اسم الموظف
      </mat-label>

      <input
        matInput
        type="text"
        formControlName="employeeName"
        autocomplete="off">

      @if (
        form.controls.employeeName.hasError('required')
        &&
        form.controls.employeeName.touched
      ) {
        <mat-error>
          اسم الموظف مطلوب
        </mat-error>
      }

      @if (
        form.controls.employeeName.hasError('maxlength')
      ) {
        <mat-error>
          الحد الأقصى لاسم الموظف 100 حرف
        </mat-error>
      }

    </mat-form-field>


    <mat-form-field
      appearance="outline">

      <mat-label>
        تاريخ الميلاد
      </mat-label>

      <input
        matInput
        [max]="maxBirthDate"
        [matDatepicker]="picker"
        formControlName="birthDate">

      <mat-datepicker-toggle
        matSuffix
        [for]="picker">
      </mat-datepicker-toggle>

      <mat-datepicker
        #picker>
      </mat-datepicker>

      @if (
        form.controls.birthDate.hasError('required')
        &&
        form.controls.birthDate.touched
      ) {
        <mat-error>
          تاريخ الميلاد مطلوب
        </mat-error>
      }

      @if (
        form.controls.birthDate.hasError('futureDate')
      ) {
        <mat-error>
          لا يمكن أن يكون تاريخ الميلاد في المستقبل
        </mat-error>
      }

    </mat-form-field>


    <mat-form-field
      appearance="outline">

      <mat-label>
        المؤهل
      </mat-label>

      <mat-select
        formControlName="qualification">

        @for (
          qualification of qualifications;
          track qualification
        ) {

          <mat-option
            [value]="qualification">

            {{
              getQualificationName(
                qualification
              )
            }}

          </mat-option>

        }

      </mat-select>

      @if (
        form.controls.qualification.hasError('required')
        &&
        form.controls.qualification.touched
      ) {
        <mat-error>
          المؤهل مطلوب
        </mat-error>
      }

    </mat-form-field>

  </form>

</mat-dialog-content>


<mat-dialog-actions
  align="end">

  <button
    mat-button
    type="button"
    [disabled]="isSaving"
    (click)="close()">

    إلغاء

  </button>


  <button
    mat-raised-button
    type="button"
    [disabled]="isSaving || form.invalid"
    (click)="save()">

    @if (isSaving) {

      جاري الحفظ...

    } @else {

      حفظ

    }

  </button>

</mat-dialog-actions>
